################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Application1/FileContentIndex
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
